body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
    font-family: cursive;
    font-size: 1.3rem;

}
html {
    background-color: #f0f0f0;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    z-index: -1;

}
select {
    text-align: center;
    font-size: 1rem;
    border-radius: 5px;
    transition: border-color 0.3s;
    margin-right: 10px;
    height: 35px;
    width: 120px;
}

/* ניקוד */
h2 {
    font-size: 1.8rem;
    color: #555;
    margin: 20px 0;
}

/* .board {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-items: center;
    margin-top: 20px;
} */
.board {
    display: flex;
    gap: 20px;
    justify-items: center;
    margin-top: 20px;
    flex-wrap: wrap;
}

.card {
    width: 160px;
    height: 160px;
    background-color: #b8c6d3;
    background-image: url('./images/cover.jpg');
    background-size: cover;
    background-position: center;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}


