h1{
    font-size:60px ;
}
.guess-color{
    width: 20px;
    height: 20px;
    border-radius: 30px;
}
body {
    font-family: Arial, sans-serif;
    text-align: center;
    direction: rtl;
    background-color: #f4f4f4;
}
.game-container {
    margin-top: 20px;
}
.colors, .current-guess {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}
.color, .guess-slot {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
   
    display: flex;
    align-items: center;
    justify-content: center;
}
.guess-history {
    margin-top: 20px;
}
.guess {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    margin-bottom: 10px;
}
.feedback {
    display: flex;
    gap: 5px;
}
.feedback span {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
    border: 1px solid #000;
}
button {
    background-color: #4c82af;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 2px;
}

